<div class="container">
    <div class="row">
        <div class="jumbotron text-center">
            <h1 class="display-4">Corona Covid-19 Tracker</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nisi cumque debitis dolor reiciendis, soluta tempora, deserunt nesciunt commodi quaerat voluptatum aperiam provident dolorem, odit exercitationem laudantium sapiente doloremque error</p>
            <hr class="my-4">
            <p>More info</p>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, et aliquid! Harum animi incidunt blanditiis mollitia, inventore omnis quam quisquam iusto accusantium eum at unde tempore quo doloribus nesciunt. Fugiat?
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
            </p>
        </div>
    </div>

</div>
